//////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;

    &__input {
        font-family: inherit;
        font-size: inherit;
        // color: var(--color-grey-dark-2);
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 100px;
        width: 100%;
        margin-right: -4.5rem;

        &::placeholder {
            color: inherit;
        }

        &:focus {
            outline: none;
            background-color: var(--color-grey-light-3);
        }
    }

    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-2);
    }
}

//////////////////////////////
// USER NAVIGATION
.user__nav {
    margin-right: 8%;
    gap: 3.2rem;

    &--search {
        display: none;
    }

    &--help {
        gap: 1rem;

        &-icon {
            border-radius: 50%;
            background-color: var(--color-grey-dark-2);
            color: #fff;
        }

        &-text {
            font-size: 1.4rem;
        }
    }

    &-icon {
        width: 2.8rem;
        height: 2.8rem;
        fill: var(--color-grey-dark-2);
    }

    &-img {
        display: inline-block;
        width: 3.5rem;
        height: 3.5rem;
        // margin-left: 1.5rem;
        border-radius: 50%;
    }
}

////////////////////////////////////////
// MAIN HEADER
.heading-1,
.heading-2 {
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
}

.main__header {
    &-icon {
        width: 32px;
        height: 32px;
    }
}

////////////////////////////////////////
// MAIN CONTENT
// .main__content {}
////////////////////////////////////////
// BALANCE
.balance {
    box-shadow: var(--box-shadow);

    &__amount {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1px;
    }

    &__overview {

        // width: 20rem;
        // height: 10rem;
        &--details {
            &-figure {
                // font-size: 2rem;
                font-weight: 700;
                letter-spacing: -1px;
            }

            &-type {
                font-size: 1.1rem;
            }
        }
    }

    &__wallet {
        min-width: 12.1rem;

        & span {
            font-size: 1.2rem;
            font-weight: 500;
        }

        & svg {
            fill: var(--color-grey-dark-2);
            width: 20px;
            height: 20px;
        }
    }
}

.currence {
    position: relative;

    &__country-icon {
        width: 20px;
        height: 20px;
    }

    &__sign {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
    }

    &__toggle-icon {
        width: 1.6rem;
        height: 1.6rem;
    }

    &__lists {
        width: 100%;
        // height: 100%;
        position: absolute;
        top: 100%;
        left: 0;

        &-list {
            display: inline-block;
            width: 100%;
            background: none;
            border: none;
            @extend .currence__sign;

            &:not(:last-child) {
                border-bottom: 1px solid rgba($color: #000000, $alpha: .02);
            }

            &:hover {
                background: rgba($color: #000000, $alpha: .02);
            }
        }
    }
}

.tag__lists--hidden .currence__lists {
    display: none;
}

////////////////////////////////////////
// CALL TO ACTION
.cta {
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;

        &-fund {
            border: none;
            color: #000;
            opacity: .9;
            transition: all .2s;
        }

        &-fund:hover,
        &-fund:active {
            background-color: #cfd2da !important;
            color: #000 !important;
        }

        & span {
            font-weight: 600;
            text-transform: capitalize;
        }

        & svg {
            width: 28px;
            height: 28px;
        }

        &:not(:last-child) svg {
            fill: #fff;
        }

        // &:last-child:active {}
    }
}

////////////////////////////////////////
// CONVERT FUND
.convert__fund {
    &--data {
        width: 45%;
    }

    &--icon {
        width: 10%;
        height: fit-content;
        transform: translateY(5rem);
    }
}

////////////////////////////////////////
// WEBSITE LOGO
.website__logo {
    &--img {
        height: 3.75rem;
    }

    &--text {
        font-size: 3.2rem;
        font-family: 'Belanosima', sans-serif;
        font-weight: 500;
        letter-spacing: -1px;
    }
}

////////////////////////////////////////
// SIDE NAVIGATION
.sidebar-nav {
    font-weight: 700;
    color: var(--color-grey-dark-2);
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        padding-left: 1.6rem;
        transition: all .1s;

        &--hide {
            display: none;
        }

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &--active {
            background-color: #ccd3e6;
            border-right: 4px solid var(--color-primary);
            color: var(--color-grey-dark-1);
        }

        &:hover {
            background-color: #ccd3e6;
            color: var(--color-grey-dark-1);
        }
    }

    &__item:hover &__icon,
    &__item--active &__icon {
        fill: var(--color-grey-dark-1);
    }

    &__link:link,
    &__link:visited {
        color: inherit;
        text-decoration: none;
        text-transform: capitalize;
        display: block;
        padding: .8rem;
        position: relative;
        z-index: 10;
        margin-left: 1.6vw;
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 2rem;
        fill: var(--color-grey-dark-2);
    }
}

.notification__icon-box {
    position: relative;
}

.notification-badge {
    display: block;
    width: .84rem;
    height: .84rem;
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    right: 55%;
    background-color: #b30000;
    z-index: 9999;
}