.header {
    font-size: 1.4rem;
    color: var(--color-grey-dark-2);
    padding: 0 .8rem 0 31rem;
    width: 100vw;
    height: 6rem;
    // padding: 3rem;
    background-color: #fff;
    position: fixed;
    z-index: 11;
    box-shadow: 2.4rem .4rem .8rem rgba(0, 0, 0, .01);
    border-left: 0.1px solid rgba(0, 0, 0, .01);

    &__website--logo {
        display: none;
        color: #000 !important;
    }

    &__nav--toggle {
        display: none;
    }
}

.dashboard {
    padding: 8rem 1.5rem 1.5rem 30.5rem;
}

.sidebar {
    min-width: 29rem;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    background-color: #fff;
    z-index: 22;

    &__website--logo {
        margin-top: 2rem;
        margin-left: 3.2vw;
    }
}

.dashbord__content--side {
    flex: 0 0 390px;
}

.navigation {
    &__checkbox {
        display: none;
    }

    // button
    &__button {
        width: 3.5rem;
        height: 3.5rem;
        padding: .5rem;
    }

    //ICON
    &__icon {
        position: relative;

        &,
        &::before,
        &::after {
            width: 2rem;
            height: 2px;
            background-color: var(--color-grey-dark-1);
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.6rem;
        }

        &::after {
            top: .6rem;
        }
    }

    &__button:hover &__icon::before {
        top: -.5rem;
    }

    &__button:hover &__icon::after {
        top: .5rem;
    }

    &__button--open &__icon {
        background-color: transparent;
    }

    &__button--open &__icon::before {
        top: 0 !important;
        transform: rotate(135deg) !important;
    }

    &__button--open &__icon::after {
        top: 0 !important;
        transform: rotate(-135deg) !important;
    }
}